@import 'header.css';
@import 'footer.css';
@import 'layout.css';
@import 'signup-modal.css';

/* Card posts */
.card-post-1 {
    padding: 0.625rem;
}

.card-post-1 h1:after {
    background: #CF6;
    content: "";
    display: block;
    height: 20px;
    width: 80%;
}

/* Article */
.article-1,
.article-2 {
    margin: 1.25rem;
    text-align: center;
}

/* Card shop owner */
.card-about-owner .card-content {
    padding: 2rem;
}

/* Preparation steps */
.card-preparation-steps {
    text-align: center;
}

.card-preparation-steps img {
    margin: 0 auto;
    padding-top: 2.625rem;
    width: 85px;
}

@media screen and (min-width: 767px) {
    /* Again, this shouldn't be done with grid */
    .wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 100px 1fr auto;
        grid-template-areas: "header header header header header"
                             ". main main main ."
                             "footer footer footer footer footer"
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

    article {
        flex-basis: 100%;
    }

    /* Card posts */
    .card-post {
        flex-basis: 29%;
    }

    /* Card shop owner */
    .card-about-owner {
        flex-basis: 100%;
        flex-direction: row;
    }

    .card-about-owner img {
        height: auto;
        width: 41%;
    }

    .card-about-owner .card-content {
        padding: 5rem;
    }

    /* Preparation steps */
    .card-preparation-steps {
        flex-basis: 29%;
    }

    .card-preparation-steps img {
        width: 30%;
    }
}


@media screen and (min-width: 768px) and (max-width: 1025px) {
    .wrapper {
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 100px 1fr auto;
        grid-template-areas:
            "header header header"
            ". main ."
            "footer footer footer";
    }

    main {
        flex-flow: wrap;
    }

    /* Card posts */
    .card-post {
        flex-basis: 35%;
    }

    .card-post-2 {
        display: none;
    }

    /* Card shop owner */
    .card-about-owner img {
        width: 44%;
    }
}
