footer {
    background-color: #999;
    /* Is it possible to see this? At least I can't 🤔 */
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    font: bold 14px sans-serif;
    /* Alphabetical order 😉 */
    padding: 3.438rem 3.125rem;
    margin-top: 5rem;
}

.footer-left,
.footer-center,
.footer-right {
    margin-bottom: 2.5rem;
}

/* Footer links */
.footer-left a:hover {
    color: #CF6;
    transition: all 0.3s ease 0s;
}

/* Footer center */
.footer-center-elements {
    display: flex;
}

.footer-center-elements a {
    color: #CF6;
}

.footer-center svg {
    height: auto;
    margin-right: 20px;
    width: 30px;
}

/* Footer right */
.footer-right {
    margin-top: 1.563rem;
}

.footer-right a {
    /* cursor: pointer is the default for every link, so no need to add it */
    cursor: pointer;
    display: inline-block;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    width: 30px;
}

/* Why do you put the hover on the path? Did you try to get the effect on the
Insta logo? It's almost impossible, because you need to hover the path. Putting
the hover on the link should be the preferred solution, because this is what you
want to visualize */
.footer-right svg path:hover {
    fill: #CF6;
    transition: all 0.3s ease 0s;
}

@media screen and (min-width: 767px) {

    footer {
        font: bold 1rem sans-serif;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */

    .footer-left {
        width: 40%;
    }

    /* Footer center */
    .footer-center {
        width: 35%;
    }

    /* Footer right */
    .footer-right {
        text-align: end;
        width: 20%;
    }
}
