*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: #EEE;
    color: #223;
    font: 400 1.125rem/1.6 Fijalla One, sans-serif;
    margin: 0;
    /* Alphabetical order 😏 */
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    /* Using this on the whole main element, can't be right */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* I don't get why you put all of the following styling in a file called
layout.css. There are a lot of styles which aren't related to layout. */
h1,
h2,
h3 {
    margin: 0.625rem;
    text-transform: uppercase;
}

h1 {
    font: 400 2.375rem Italiana;
    letter-spacing: 0;
}

h3 {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.125rem;
}

a {
    color: #223;
    text-decoration: none;

}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

/* Sign up button */
.main-signupbtn {
    background: #EEE;
    border: 1px solid #223;
    border-radius: 50px;
    /* See comment on .menu-icon in the header.css */
    cursor: pointer;
    font-size: 0.875rem;
    padding: 0.563rem 1.563rem;
    transition: all 0.3s ease 0s;
}

.main-signupbtn:hover {
    background-color: #223;
    color: #CF6;
}

/* Card styling */
main .card {
    border-radius: 0.25rem;
}

.card {
    background: #FFF;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    /* You add default behaviour with this, so it shouldn't be necessary */
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    height: 225px;
    /* Why do you need this? */
    overflow: hidden;
    width: 100%;
}

.card p {
    flex: 1 1 auto;
}

/* Main button */
.card-link {
    background-color: #223;
    border: 1px solid #223;
    color: #CF6;
    /* This is the default */
    cursor: pointer;
    font-size: 1rem;
    padding: 0.563rem 1.563rem;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.card-link:hover {
    background-color: #FFF;
    color: #223;
}

.card-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1.5rem;
}

.card-type-two {
    background: #FFF;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
}

.card-type-two img {
    filter: contrast(70%);
    width: 100%;
}

@media screen and (min-width: 767px) {
    /* Card styling */
    .card {
        flex-basis: 40%;
    }

    .card-content {
        padding: 2rem;
    }

    .card img {
        height: 300px;
    }

    /* Sign up button */
    .main-signupbtn {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    /* Card styling */
    .card {
        flex-basis: 35%;
    }

    .card img {
        height: 345px;
    }
}
